:root.dark {
  --sys-background: #131318;
  --sys-on-background: #e5e1e9;
  --sys-surface: #131318;
  --sys-surface-dim: #131318;
  --sys-surface-bright: #39383f;
  --sys-surface-container-lowest: #0e0e13;
  --sys-surface-container-low: #1b1b21;
  --sys-surface-container: #201f25;
  --sys-surface-container-high: #2a292f;
  --sys-surface-container-highest: #35343a;
  --sys-on-surface: #e5e1e9;
  --sys-surface-variant: #47464f;
  --sys-on-surface-variant: #c8c5d0;
  --sys-inverse-surface: #e5e1e9;
  --sys-inverse-on-surface: #313036;
  --sys-outline: #928f9a;
  --sys-outline-variant: #47464f;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #c2c1ff;
  --sys-primary: #c2c1ff;
  --sys-on-primary: #2b2a60;
  --sys-primary-container: #414178;
  --sys-on-primary-container: #e2dfff;
  --sys-inverse-primary: #595892;
  --sys-secondary: #c1c1ff;
  --sys-on-secondary: #2a2a60;
  --sys-secondary-container: #404178;
  --sys-on-secondary-container: #e2dfff;
  --sys-tertiary: #fab1d9;
  --sys-on-tertiary: #511d3e;
  --sys-tertiary-container: #6b3456;
  --sys-on-tertiary-container: #ffd8eb;
  --sys-error: #ffb4ab;
  --sys-on-error: #561e19;
  --sys-error-container: #73342d;
  --sys-on-error-container: #ffdad5;
  --sys-neutral: #78767d;
  --sys-neutral-variant: #787680;
  --sys-primary-fixed: #e2dfff;
  --sys-primary-fixed-dim: #c2c1ff;
  --sys-on-primary-fixed: #15134a;
  --sys-on-primary-fixed-variant: #414178;
  --sys-secondary-fixed: #e2dfff;
  --sys-secondary-fixed-dim: #c1c1ff;
  --sys-on-secondary-fixed: #14134a;
  --sys-on-secondary-fixed-variant: #404178;
  --sys-tertiary-fixed: #ffd8eb;
  --sys-tertiary-fixed-dim: #fab1d9;
  --sys-on-tertiary-fixed: #370728;
  --sys-on-tertiary-fixed-variant: #6b3456;
  --sys-inverse-secondary: #585992;
  --sys-inverse-tertiary: #864b6e;
  --sys-inverse-error: #904a43;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
